@using BotuqieButik.data.Entitis
@{
    ViewData["Title"] = "Delete";
}

@model Product
<h1>Ürün Silme</h1>


<div class="container">
    <div class="card mt-2">
        <div class="card-header bg-primary text-white">
            <h3>Ürün Silme İşlemi</h3>
        </div>
        <div class="card-body">
            @Model.Name  Kaydını Silmek İstediğinize Emin Misiniz ?

        </div>
        <div class="card-footer">
            <form method="post" asp-controller="Product" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button class="btn btn-success" type="submit">Sil</button>
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Vazgeç</a>
            </form>
        </div>
    </div>
</div>