@using BotuqieButik.data.Entitis
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product

    @* Hocam resimi gösteremedim ama ürün için detay yapmaya çalıştım burda *@


<h2>ViewBag.Id</h2>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card h-70">
                <div class="card bg-dark text-white">                   
                    <img class="card-img" src="~/images/@Model.image" alt="Card image">
                    <div class="card-img-overlay">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <br><br><br>  
            <h1>@Model.Name</h1>
            <br><br>
            <h1>Ürün fiyatı</h1>                   
            <br>
            <h2>@Model.Price</h2>
            <br>
            <h1>Ürün Stok</h1>
            <br>
                <p>@Model.Stock</p>
            
            <br><br><br>
            <button class="button-30" role="button">Sepete Ekle</button>
            <br><br><br>
        </div>
    </div>
