@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section2">
    <div class="content">
        <h2 class="section2-title">
            Üst Giyim</h3>
            -
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail"><img src="~/images/ustgiyim1.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Askılı Crop</h5>
                            <p class="card-text">149.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ustgiyim2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Askılı Kare Crop</h5>
                            <p class="card-text">139.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ustgiyim3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Büzgülü Bluz</h5>
                            <p class="card-text">258.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ustgiyim4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Desenli Tül Crop<h5>
                                    <p class="card-text">259.99 TL</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>