@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section2">
    <div class="content">
        <h2 class="section2-title">
            Yeni Gelenler</h3>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail"><img src="~/images/ozelfiyatlar1.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">Astarlı Dikiş Detaylı Triko Elbise</h5>
                            <p class="card-text">519.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ozelfiyatlar2.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Basic Crop</h5>
                            <p class="card-text">239.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ozelfiyatlar3.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Madonna Asimetrik Crop</h5>
                            <p class="card-text">159.99 TL</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/images/ozelfiyatlar4.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Madonna Büzgülü Takım<h5>
                                    <p class="card-text">539.99 TL</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>